@tailwind base;
@tailwind components;

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Exo+2&family=Gwendolyn:wght@700&family=Open+Sans&family=Poppins:wght@200&display=swap");
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.font-exo {
  font-family: "Exo 2";
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
